body {
    background: url(../images/header-background.jpg) no-repeat bottom;
    background-color: #010204;
    background-size: cover;
    overflow: hidden;
}

#social-links .nav-link {
    color: rgb(148 184 215);
}
#social-links .nav-link:hover {
    color: aliceblue;
}